{% extends "layout.html" %} {% block content %}
<div class="jumbotron bg-primary text-light mt-3 mb-3">
  <h1 class="display-4">Petrol station map</h1>
  <p class="lead">The map will show you petrol stations near your home</p>
</div>

<div class="row mb-3">
  <div class="col-12 col-md-5 col-xl-3">
    <form name="search", action="", method="post">
      {{form.hidden_tag()}}
      <div class="row">
        <div class = "col-12">
          {{form.postcode.label}}</br>
          {{form.postcode}}
        </div>
        <div class = "col-12">
          {{form.fuel_type.label}}</br>
          {{form.fuel_type}}
        </div>
        <div class = "col-12 mt-2">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>

      </div>
    </form>

  </div>
  <div class="col-12 col-md-7 col-xl-9 mt-2 mb-2 embed-responsive" id="map">
    {{map|safe}}
  </div>
</div>

{% endblock %}
