<footer class="bg-primary text-light container-fluid mt-2">
    <div class="row">
      <div class="col-12 col-sm-3 col-xl-2 offset-sm-1 mt-3 mb-3 text-center">
        <h3>By</br>Philip</br>Wilkinson</br></h3>
      </div>
      <div class="col-12 offset-sm-2 offset-xl-5 col-sm-2 col-xl-1 mt-3 mb-3 text-center">
        <h5>Portfolio</h5>
        <a href="https://github.com/PhilipDW183" class="link-light text-light">GitHub</a></br>
        <a href="https://philipdw183.github.io/" class="link-light text-light">Website</a>
      </div>
      <div class="col-12 offset-sm-0 col-sm-3 col-xl-2 mt-3 mb-3 text-center">
        <h5 class ="text-sm-start">Contact me</h5>
        <a href="https://www.linkedin.com/in/philip-wilkinson1/" class="link-light text-light">LinkedIn</a></br>
        <a href="https://twitter.com/PhilipW1lk" class="link-light text-light">Twitter</a>
      </div>
    </div>
  </footer>